extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Portfolio of Projects

      p.lead.text-light
        | These are the Projects that I have made recently. They will be upgraded as needed
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3 
    
      - var n = 0;
      while n < 6
        - n++
        .cell
          a(href=`/projects/${n}`)
            img.thumbnail(src=projects[`${n -1}`].image_urls[0])
            h5= projects[`${n -1}`].project_name
      
